{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe - Email envoyé{% endblock %}

{% block body %}
    <p>
        Si l'adresse mail renseignée correspond à un compte utilisateur, un email contenant un lien permettant de réinitialiser le mot de passe a été envoyé.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p> Si vous ne recevez pas d'email au bout de 10 min, merci de vérifier vos spam, sinon <a href="{{ path('app_forgot_password_request') }}">Réessayez</a>.</p>
{% endblock %}