{% extends 'base.html.twig' %}

{% block title %}
    Sortir.com | Pannel admin
{% endblock %}

{% block body %}
    <div class="container-tight py-4">
        <div class="text-center mb-4">
            <a href="."><img src="{{ asset('images/.png') }}" height="36" alt=""></a>
        </div>
        <div class="card card-md">

            <div>
                <a href="{{ path('admin_register') }}">
                    <button type="submit" class="btn btn-primary w-100">Enregistrer un participant</button>
                </a>
            </div>
        </div>
    </div>
    </div>

{% endblock %}